:host {
    /*display: flex;*/
    flex: 1;
  }
  
  .tab-body {
    padding: 20px 10px;
    border-top: 2px solid #e0e0e0
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  mat-table{
      width: 100%;
  }
    .header .seach-field {
      position: relative;
    }
  
      .header .seach-field i {
        position: absolute;
        left: 5px;
        top: 5px;
        color: grey;
      }
  
  .seach-field input {
    font-size: .8rem;
    padding: 10px 10px 10px 34px;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
  }
  
  .actions button {
    background-color: #8c1b30;
    color: white;
    cursor: pointer;
  }
  
  
  :host ::ng-deep .datatable-body-cell {
    padding: 0.3rem 1.3rem !important;
  }
  
  .btn-action {
    padding: 0px 2px;
    min-width: 0px;
    color: #908989;
  }
  
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #8c1b30 !important;
  }
  
  ::ng-deep .mat-progress-bar-buffer {
    background-color: #ffcdd2 !important;
  }
  
  
  ::ng-deep .cls-green {
    color: green !important;
  }
  
  ::ng-deep .cld-red {
    color: red !important;
  }
  
  