<app-page icon="library_books"
          title="Books">
  <mat-card>
    <div fxLayout=row>
      <h2 fxFlex>
        Book Details
      </h2>
    </div>
    <div class="tab-body">
      <form class="example-form">

        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" name="name"  [(ngModel)]="book.name">
              </mat-form-field>
        </div>
        
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Authors" name="authors" [(ngModel)]="book.authors">
              </mat-form-field>
        </div>
       
        <div>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="Number of Pages" name="numberOfPages" [(ngModel)]="book.numberOfPages">
              </mat-form-field>
        </div>

       <div>
         
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="book.dateOfPublication" name="dateOfPublication">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       </div>

       <div class="actions"
             fxLayout=row>
          <div fxFlex></div>
          <button mat-raised-button
                  fxFlex=initial
                  [disabled]=isLoading
                  (click)="addorEditBook()">
          {{title}}
          </button>
          <button mat-raised-button
                  fxFlex=initial
                  [disabled]=isSignining
                  routerLink="/booklist">
            Cancel
          </button>
        </div>
        

      </form>

    </div>
  </mat-card>
 </app-page> 
