mat-dialog-title {
  margin-top: 0;
}

mat-dialog-actions {
  display: flex;
}

  mat-dialog-actions button {
    background-color: #8c1b30;
    color: white;
  }

  mat-dialog-content {
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 400px;
  }
